<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>

	</startup>
	<appSettings>
		<add key="BaseUrl" value="https://localhost:44301/" />
		<add key="Username" value="admin" />
		<add key="Password" value="admin" />
	</appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>